.container {
    background-color: white;
  }
  
  .card {
    width: 100%;
    height: 250px;
    padding: 15px;
  }
  
  .card-title {
  }
  
  .form-control-color {
    background-color: white;
    color: black;
  }
  